[submodule "trustee-platform"]
	path = trustee-platform
	url = https://gitlab.com/eurodat.org/trustee-platform.git
[submodule "DataSpaceConnector"]
	path = DataSpaceConnector
	url = https://github.com/eclipse-dataspaceconnector/DataSpaceConnector.git
