#!/bin/bash
#Defining variables that are derived from GitHub secrets or are no secrets

#Variables for Dataland EDC DataManager that were added to its config.properties
export DATALAND_EDC_WEB_URI="http://dataland-tunnel.duckdns.org:9191/api/dataland/eurodat/asset"
export DATALAND_EDC_IDS_URI="http://dataland-tunnel.duckdns.org:9292/api/v1/ids/data"
export TRUSTEE_WEB_URI="${TRUSTEE_BASE_URL}/${TRUSTEE_ENVIRONMENT_NAME}/api"
export TRUSTEE_IDS_URI="${TRUSTEE_BASE_URL}/${TRUSTEE_ENVIRONMENT_NAME}/api/v1/ids/data"
export TRUSTEE_CREDENTIALS="${TRUSTEE_CREDENTIALS}"

#Native Variables for config.properties

export EDC_OAUTH_PROVIDER_AUDIENCE="${TRUSTEE_BASE_URL}/auth/realms/master"
export EDC_OAUTH_PROVIDER_JWKS_URL="${TRUSTEE_BASE_URL}/auth/realms/master/protocol/openid-connect/certs"
export EDC_OAUTH_TOKEN_URL="${TRUSTEE_BASE_URL}/auth/realms/master/protocol/openid-connect/token"
export IDS_WEBHOOK_ADDRESS="http://dataland-tunnel.duckdns.org:9292"
